.col-sm-4.col-md-3.item
    .footer-title {{ title }}
    ul.footer-items
        dynamic-component(
            v-for='navigate_section in navigate_sections'
            v-bind:component_infos='navigate_section'
        )