.container
    .row
        input(
            v-for='(item, index) in choosed_items'
            v-bind:name='name + "[" + index + "]"'
            v-bind:value='item.id'
            type='hidden'
        )
        .d-flex.justify-content-between.w-100
            h2.title {{ title }}
            bootstrap-select(
                v-bind:name='select_section.name' 
                v-bind:value.sync='selectedOption'
                v-bind:searchable='select_section.live_search'
                v-bind:options='relatedOptions'
                v-bind:data_url='select_section.data_url'
                v-bind:data_infos='select_section.data_infos'
                v-on:update:options='changeOptions'
                v-on:update:value='addElement'
            )
        .table-responsive
            table.table.main-box.clearfix
                tr(v-for='element in choosed_items')
                    td
                        p.element-link {{ element.title }}
                    td.text-end
                        ecom-icon-link-with-small-image(
                            img_url='images/trash-can-regular.svg'
                            v-on:click='deleteElement(element.id)'
                        )
