hr {
    width: 50px;
    border-bottom: 1px solid black;
}
.related-item {
    padding-left: 8rem;
    padding-right: 8rem;
    height: auto;
    text-align: center;
}
.padding-top {
    padding-top:70px
}
