.container.py-5.padding-top
    infobreadcrumb(:information='information')
    infobox(:information='information')
    infotext
        .related-item
            hr
            h6.pb-4 RELATED PRODUCTS
            card(:cardarray='sliceRelatedItems')
