@import '../../globals.scss';

.container.grid {
    min-height: 60rem;
}

.container.grid a {
    cursor: pointer !important;
}

.btn-light {
    color: black !important;
    background: white;
    border-radius: $border-radius;
    border: 1px solid grey !important;
}
.dropdown-menu {
    background-color: #eee;
    color: $newsletter-color;
}

.dropdown-menu > a:hover {
    background-color: #dae0e5;
}

.btn-outline-secondary {
    border-radius: $border-radius;
}

/*search options*/

.card-selector {
    color: #dcdcdc;
    height: 40rem;
    background: $breadcrumb-color;
    box-shadow: $card-box-shadow,
        0 26px 70px 0 rgba(0, 0, 0, 0.69);
}

.search-title h6 {
    cursor: pointer;
}

.circle {
    height: 17px;
    width: 17px;
    border-radius: 50%;
    border: 0.7px solid #2c3539;
    display: inline-block;
    margin-left: 6px;
    cursor: pointer;
}
