@import '../../globals.scss';

.container-fluid {
    @extend .font-style;
    
    background-color: $body-bg-color;
}

.container.grid {
    min-height: 60rem;
    max-width: 1140px;
}

.container.grid a {
    cursor: pointer !important;
}

.btn-light {
    color: $body-text-color !important;
    background: $second-bg-color;
    border-radius: 0 !important;
    border: 1px solid $border-light-color !important;
}
.dropdown-menu {
    background-color: $dropdown-menu-bg-color;
    color: $newsletter-color;
}

.dropdown-menu > a:hover {
    background-color: $dropdown-menu-hover-bg-color;
}

.btn-outline-secondary {
    border-radius: 0 !important;
}

/*search options*/

.card-selector {
    color: $menu-border-color;
    height: 40rem;
    background: $newsletter-color !important;
    box-shadow: $card-box-shadow,
        0 26px 70px 0 rgba(0, 0, 0, 0.69);
}

.search-title {
    display: flex;
    flex-direction: column;
}

.search-title .h6 {
    cursor: pointer;
}

.circle {
    height: 17px;
    width: 17px;
    border-radius: 50%;
    border: 0.7px solid $newsletter-color;
    display: inline-block;
    margin-left: 6px;
    cursor: pointer;
}

.circle-background1 {
    background-color: $basic-color1;
}

.circle-background2 {
    background-color: $basic-color2;
}

.circle-background3 {
    background-color: $basic-color3;
}

.circle-background4 {
    background-color: $basic-color4
}

.span-color {
    color: $breadcrumb-li--item-color;
    margin-left: 5px;
}

.margins {
    margin-left: 9rem;
    margin-right: 9rem;
}
