.container.grid
    .row.justify-content-around
        .row.col-6.pb-4.pr-1
            .dropdown
                a#dropdownMenuLink.btn.btn-light.dropdown-toggle(role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                    | SORT BY
                    span(style='color:#f2be00;') {{ sortButton }}
                .dropdown-menu(aria-labelledby='dropdownMenuLink')
                    a.dropdown-item(@click='sortDate') Date
                    a.dropdown-item(@click='sortPrice') Price
                    a.dropdown-item(@click='sortTrend') Trending
        .row.col-6.flex-row-reverse
            .view-button
                .dropdown
                    button#MenuLink.btn.btn-light.dropdown-toggle.d-block.d-lg-none.d-xl-none(role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false') CATAGORIES
                    .dropdown-menu(aria-labelledby='MenuLink')
                        a.dropdown-item(@click="sortI('table')") Tables
                        a.dropdown-item(@click="sortI('lamp')") Lamps
                        a.dropdown-item(@click="sortI('chair')") Chairs
                        a.dropdown-item(@click="sortI('sofa')") Sofas
                        .dropdown-divider
                        .pl-3
                            span.circle(style='background-color:yellow' @click="sortI('yellow')")
                                span.circle(style='background-color:blue' @click="sortI('blue')")
                                    span.circle(style='background-color:white' @click="sortI('white')")
                                        span.circle(style='background-color:red' @click="sortI('red')")
                        .dropdown-divider
                        a.dropdown-item(@click='reSet') Reset
        .row.justify-content-center
            .col.col-xl-3.col-lg-3.d-none.d-lg-block.d-xl-block
                .card-selector
                    .card-body.p-5
                        .search-title
                            h4 Catagories    +
                            br
                            h6(@click="sortI('table')") Tables
                            h6(@click="sortI('lamp')") Lamps
                            h6(@click="sortI('chair')") Chairs
                            h6(@click="sortI('sofa')") Sofas
                            br
                            br
                            br
                            h4.search-title Filter by    +
                            br
                            .co
                                h5 Color
                                span.circle(style='background-color:yellow' @click="sortI('yellow')")
                                span.circle(style='background-color:blue' @click="sortI('blue')")
                                span.circle(style='background-color:white' @click="sortI('white')")
                                span.circle(style='background-color:red' @click="sortI('red')")
                            br
                            br
                            h5 Price Range
                            slider(@clicked='valueSlider')
            .row.col-xl-9.col-lg-9.col-md-12.col-sm-12.col-xs-12.text-center
                .col-12.col-xl-12.col-lg-12.col-md-12.col-sm-12.col-xs-12(v-if='this.cards == 0')
                    h4(style='margin-left:9rem;margin-right:9rem') Sorry, we can&apos;t find a product with this features
                card(:cardarray='slicedCards')
                    .col-12.col-xl-12.col-lg-12.col-md-12.col-sm-12.col-xs-12.py-5
                        button.btn.btn-outline-secondary.btn-lg.btn-block(type='button' @click='incCardNumber') More +
