@import '../../globals.scss';

ol.carousel-indicators li {
    background-color: white;
    height: 20px;
    width: 20px;
    border-radius: 30px;
    border: 0.6px solid black;
}

ol.carousel-indicators li.active {
    background: $ol-background-color;
}
