section.carousel
    #heroControls.carousel.slide(data-ride='carousel')
        ol.carousel-indicators
            // Arraybe
            li(v-for='(carouselIndicator, index) in carousel_indicators' :class="{ active: carouselIndicator.isActive }" :data-target='carouselIndicator.dataTarget' :data-slide-to='index')
            // Arraybe
        .carousel-inner
            // Arraybe
            .carousel-item(v-for='carouselInner in carousel_inners' :class="{ active: carouselInner.isActive }")
                img.img-fluid(:src='carouselInner.src' :alt='carouselInner.alt')
            // Arraybe
