div
  .row.mb-5(v-for='it in information' :key='it.id')
    .col6.col-xl-6.col-lg-6.col-md-12.col-sm-12
      img.img-fluid(:src='it.img')
    .col6.col-xl-6.col-lg-6.col-md-12.col-sm-12.d-flex.align-items-center.justify-content-start
      .info.pt-xl-0.pt-lg-0.pt-5
        span.float-left.pr-3 &starf;&starf;&starf;&starf;&starf;
        h6(style='width:190px;') 3 reviews
        h1.font-weight-bold.text-uppercase.pt-3 {{ it.title }}
        h4 ${{ it.price }}
        br
        br
        br
        .control.number.text-center
          button.decrement-button(@click='dec' style='border-right: 0.2px solid lightgrey;float:left;margin-right: 11px;') &minus;
          span {{ quan }}
          button.increment-button(@click='inc' style='border-left: 0.2px solid lightgrey;margin-left: 16px;') +
          br
          br
        button.add-to-cart-button(@click='addtoCart(it, it.id)') ADD TO CART
