@import '../globals.scss';

.col4 h6 {
    height: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid lightgrey;
    color: grey;
    cursor: pointer;
  }
  
  .col4.active h6 {
    font-weight: bold;
    border-bottom: $border-bottom !important;
    color: black;
  }
