.container-flex
    nav.navbar.navbar-expand-lg.navbar-light
        .container-fluid 
            .dropdown.d-xl-none.d-lg-none.me-auto
                svg.dropdown-toggle(xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512" id="navd" data-bs-toggle="dropdown" aria-expanded="false")
                    path(d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z")
                .dropdown-menu.hb(aria-labelledby='navd')
                    dynamic-component.dropdown-item(
                        v-for='leftItemSection in left_item_sections'
                        v-bind:component_infos='leftItemSection'
                    )
            dynamic-component.navbar-brand.py-0.ps-5(
                v-bind:component_infos='title_section'
            )
            //- .collapse.navbar-collapse(id="navbarSupportedContent")
            span.navbar-item.bc.d-none.d-lg-block.py-0
                dynamic-component(
                    v-for='leftItemSection in left_item_sections'
                    v-bind:component_infos='leftItemSection'
                )
            p.navbar-item.ms-auto
            .d-none.d-xl-block.d-lg-block.pe-3
                input.search(type="search")
            .navbar-item.user
                dynamic-component(
                    v-bind:component_infos='right_item_section'
                )
            dynamic-component(
                v-bind:component_infos='shop_cart_item_section'
            )
    dynamic-component(
        v-bind:component_infos='modal_section'
    )
    dynamic-component(
        ref='cartMove'
        v-bind:component_infos='cart_section'
    )
