.container-flex
    nav.navbar.navbar-light
        .dropdown.d-xl-none.d-lg-none.mr-auto
            img(src='https://png.icons8.com/windows/32/000000/menu.png' data-toggle='dropdown' data-target='#navd' aria-haspopup='true' aria-expanded='false')
            .dropdown-menu.hb(aria-labelledby='navd')
                dynamic-component(
                    v-for='leftItemSection in left_item_sections'
                    v-bind:component_infos='leftItemSection'
                )
        dynamic-component(
            v-bind:component_infos='title_section'
        )
        span.navbar-item.bc.d-none.d-xl-block.d-lg-block.py-0
            dynamic-component(
                v-for='leftItemSection in left_item_sections'
                v-bind:component_infos='leftItemSection'
            )
        p.navbar-item.ml-auto
            dynamic-component(
                v-bind:component_infos='right_item_section'
            )
    dynamic-component(
        v-bind:component_infos='modal_section'
    )
    dynamic-component(
        ref='cartMove'
        v-bind:component_infos='cart_section'
    )
