@import '../globals.scss';

.newsletter-area {
    @extend .font-style;

    position: relative;
    z-index: 1;
    background-color: $ol-background-color;
    padding: 75px;

    .newsletter-form form {
        position: relative;
        z-index: 1;
    }
}

.newsletter-area .newsletter-text {
    position: relative;
    z-index: 1;

    h2 {
        font-size: 36px;
        margin-bottom: 10px;
        color: $newsletter-color;
    }

    p {
        color: $newsletter-color;
        margin-bottom: 0;
    }
}

.newsletter-area .newsletter-form .input-button {
    @extend .height-border;
    @extend .dark-button-with-shadow;
}


.height-border {
    height: 50px;
    border: none;
}

@media (min-width: 1400px) {
    .container {
        max-width: 1140px;
    }
}

@media (max-width: 768px) {
    .newsletter-area {
        padding: 3rem;
    }

    .text-content {
        margin-bottom: 2rem;
    }
}