@import '../globals.scss';

.newsletter-area {
    @extend .font-style;

    position: relative;
    z-index: 1;
    background-color: $ol-background-color;
    padding: 75px;
}

.newsletter-area .newsletter-text {
    position: relative;
    z-index: 1;
}

.newsletter-area .newsletter-text h2 {
    font-size: 36px;
    margin-bottom: 10px;
    color: $newsletter-color;
}

.newsletter-area .newsletter-text h2 {
    color: $newsletter-color;
}

.newsletter-area .newsletter-text p {
    color: $newsletter-color;
    margin-bottom: 0;
}

.newsletter-area .newsletter-form form {
    position: relative;
    z-index: 1;
}

.newsletter-area .newsletter-form .input-button {
    @extend .height-border;

    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    background-color: $newsletter-color;
    color: $second-bg-color;
    font-size: 18px;
    padding: 0px 30px;
    cursor: pointer;
    position: relative;
    top: 0;
    z-index: 10;
    box-shadow: $card-box-shadow,
        0 16px 70px 0 rgba(0, 0, 0, 0.69);
}

.newsletter-area .newsletter-form .input-button:hover,
.newsletter-area .newsletter-form .input-button:focus {
    background-color: inherit;
    color: $body-text-color;
}

.height-border {
    height: 50px;
    border: none;
}