section.newsletter-area
    .container
        .row.justify-content-between
            // Newsletter Text
            .col-lg-6.col-md-6
                dynamic-component.newsletter-text(
                    v-bind:component_infos='newsletter_text'
                )
            // Newsletter Form
            .col-lg-4.col-md-6
                .newsletter-form
                    form
                        dynamic-component(
                            v-bind:component_infos='newsletter_form.newsletter_input_section'
                        )
                        dynamic-component.input-button(
                            v-bind:component_infos='newsletter_form.newsletter_button_section'
                        )
