.col-6.col-xl-4.col-lg-4.col-md-4.col-sm-6.col-xs-4.pb-3
    .card
        img.card-img-top(:src='image.url' :alt='image.alt')
        .overlay
            button.btn.btn-outline-secondary.btn-lg(type='button' @click='addtoCart(id)') Add +
            a.btn.btn-outline-secondary.btn-lg(href='/info' type='button' @click='sendInfo(id)') Info
        .card-body
            h5.card-title {{ title }}
            p.card-text ${{ price }}
