@import '../../globals.scss';

.breadcrumb {
    background: inherit !important;
    color: $newsletter-color !important;
    font-size: 20px;
}
  
.breadcrumb > li > a {
    text-decoration: none !important;
    color: $newsletter-color !important;
}

.breadcrumb > li {
    text-decoration: none !important;
    color: $breadcrumb-li--item-color !important;
}