@import '../../globals.scss';

.breadcrumb {
    background: $background-color;
    color: $breadcrumb-color;
    font-size: 20px;
}
  
.breadcrumb > li > a {
    text-decoration: $breadcrumb-text-decoration;
    color: $breadcrumb-color;
}

.breadcrumb > li {
    text-decoration: $breadcrumb-text-decoration;
    color: $breadcrump-li--item-color;
}