.breadcrumb {
    background: inherit !important;
    color: #2c3539 !important;
    font-size: 20px;
  }
  
  .breadcrumb > li > a {
    text-decoration: none !important;
    color: #2c3539 !important;
  }
  
  .breadcrumb > li {
    text-decoration: none !important;
    color: #f2be00 !important;
  }
  