div
    h1.pt-3.text-center New arrivals
    nav.row.justify-content-center(aria-label='breadcrumb')
        ol.breadcrumb
            // Section arraybe
            dynamic-component(
                v-for='breadcrumbItemSection in breadcrumb_item_sections'
                v-bind:component_infos='breadcrumbItemSection'
            )
            // Section arraybe
