div
    h1.pt-3.text-center New arrivals
    nav.row.justify-content-center(aria-label='breadcrumb')
        ol.breadcrumb
            li.breadcrumb-item
                router-link(to='/') Home
            li.breadcrumb-item.active(aria-current='page') Products
