.container
    h2 Login
    form
        dynamic-component(
            v-for='formItemSection in formitem_sections'
            v-bind:component_infos='formItemSection'
            )
        .d-flex.justify-content-end
            button.btn.btn-primary(type='submit') Submit
