.container
    h2 {{ title }}
    form
        dynamic-component(
            v-for='formItemSection in formitem_sections'
            v-bind:component_infos='formItemSection'
            )
        .d-flex.justify-content-end
            button.btn.btn-primary(type='submit') Submit
    .text-center.mt-3
        p {{ text }} 
            a(v-bind:href='url') {{ linkTitle }}
