.container
    h2.title {{ title }}
    form(v-bind:method="method")
        dynamic-component(
            v-for='formItemSection in formitem_sections'
            v-bind:component_infos='formItemSection'
            )
        .d-flex.justify-content-end
            dynamic-component(
                v-bind:component_infos='button_section'
            )
    .text-center.mt-3
        p {{ text }} 
            a(v-bind:href='url') {{ link_title }}