@import "../../globals.scss";

.row {
    @extend .font-style;
}

img, .description-text {
    width: 90%;
}

.text-lg-end {
    float: right;
}

@media (max-width: 576px) {
    img {
        margin-top: 1rem;
    }
}

@media (max-width: 768px) {
    img {
        width: 100%;
    }

    .description-text {
        width: 90%;
        padding: 1rem;
    }

    .text-lg-end {
        float: none;
    }
}

