.row.p-4
    .col-6
        img(
            :class="{ 'float-lg-end': !left_orientation }"
            :src='image_url'
            :alt='image_alt'
            )
    .col-12.col-sm-6(:class='orientationClass')
        dynamic-component.description-text.light-text(
            v-bind:component_infos='text_content_section'
            v-bind:class='textOrientationClass'
        )