@import '../../globals.scss';

.breadcrumb {
    background: inherit;
  }
  
  .breadcrumb > li > a {
    text-decoration: none;
    color: $newsletter-color !important;
    font-size: 18px;
  }
  .breadcrumb > li > a:hover {
    text-decoration: underline;
  }
  
  .breadcrumb-item.active {
    text-decoration: none !important;
    color: $breadcrump-li--item-color !important;
  }
  