section.about-us
    // Egy komponensbe
    .row.p-4
        .col-6
            img.float-lg-right(src='@/assets/new.jpg')
        .col-12.col-sm-6
            h1
                | New minimalist
                br
                | &ndash;components
            h6
                | Gravity will force your feet to the ground. Don&rsquo;t be afraid, your mind will find your freedom.
                | You won&rsquo;t miss a sunrise. You&rsquo;ll rise with the sun.
                br
                | You&rsquo;ll never run away from the storm. You will flow with the wind.
                br
                | Don&rsquo;t hesitate to pause. Follow the flow of the moment.
                |                        And then, take the first step towards the new you.
    .row.p-4
        .col-12.col-sm-6.text-sm-right.text-md-right.ml-sm-0.ml-md-5.ml-lg-5.ml-xl-5.text-lg-right.order-sm-first.order-12(style='margin-right: -8%; z-index:1;')
            h1
                | Save Space
                br
                | more freedom
            h6
                | Gravity will force your feet to the ground. Don&rsquo;t be afraid, your mind will find your freedom.
                | You won&rsquo;t miss a sunrise. You&rsquo;ll rise with the sun.
                | You&rsquo;ll never run away from the storm. You will flow with the wind.
                | Don&rsquo;t hesitate to pause. Follow the flow of the moment.
                | And then, take the first step towards the new you.
        .col-6
            img(src='@/assets/33.jpg')
    // Egy komponensbe
