.container
    .row
        .d-flex.justify-content-between
            h2.title {{ admin_title }}
            dynamic-component.add-button(
                v-bind:component_infos='button_section'
            )
        .table-responsive
            table.table.main-box.clearfix
                tr(v-for='image in images')
                    td
                        p.image-link {{ image }}
                    td.text-end
                        button
                            i.fa-regular.fa-trash-can
