$form-group-color: #71acd6;
$form-group-transition: all 0.5s;
$box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
$newsletter-color: #2c3539;
$card-box-shadow: 0 8px 6px 0 rgba(0, 0, 0, 0.1);
$border-bottom: 1px solid black;
$ol-background-color: #dbf0fa;
$breadcrump-li--item-color: #f2be00;