@import url('https://fonts.googleapis.com/css?family=Exo+2');

$body-bg-color: #f8f8f8;
$body-text-color: #2c3e50;
$body-font-family: 'Exo 2', sans-serif !important;
$menu-bg-color: $body-bg-color;
$menu-border-color: #dcdcdc;
$menu-hover-color: #ffd700;
$second-bg-color: #fff;
$footer-bg-color: #fefefe;
$dropdown-menu-bg-color: #eee;
$dropdown-menu-hover-bg-color: #dae0e5;

$form-group-color: #71acd6;
$form-group-label: grey;
$form-group-transition: all 0.5s;
$box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
$newsletter-color: #2c3539;
$card-box-shadow: 0 8px 6px 0 rgba(0, 0, 0, 0.1);
$border-light-color: $form-group-label;
$border-bottom: 1px solid black;
$ol-background-color: #dbf0fa;
$breadcrumb-li--item-color: #f2be00;

$basic-color1: yellow;
$basic-color2: blue;
$basic-color3: white;
$basic-color4: red;

.font-style {
    font-family: $body-font-family;
    color: $body-text-color;
    font-weight: 100;
}

.button-basic {
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    font-size: 15px;
    padding: 0px 30px;
    height: 50px;
    border: none;
    cursor: pointer;
    position: relative;
    top: 0;
    z-index: 10;
}

.light-button {
    @extend .button-basic;

    background-color: $body-bg-color;
    color: $body-text-color;
    
    &:hover {
        background-color: $dropdown-menu-bg-color;
    }

}

.light-button-with-shadow {
    @extend .light-button;

    box-shadow: 0 26px 38px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.dark-button {
    @extend .button-basic;
    
    background-color: $newsletter-color;
    color: $second-bg-color;
    
    &:hover, &:focus {
        background-color: $ol-background-color;
        color: $body-text-color;
    }
}

.dark-button-with-shadow {
    @extend .dark-button;
    
    box-shadow: $card-box-shadow,
    0 16px 70px 0 rgba(0, 0, 0, 0.69);
}