@import url('https://fonts.googleapis.com/css?family=Exo+2');

$body-bg-color: #f8f8f8;
$body-text-color: #2c3e50;
$body-font-family: 'Exo 2', sans-serif !important;
$menu-bg-color: $body-bg-color;
$menu-border-color: #dcdcdc;
$menu-hover-color: #ffd700;
$second-bg-color: #fff;
$footer-bg-color: #fefefe;
$dropdown-menu-bg-color: #eee;
$dropdown-menu-hover-bg-color: #dae0e5;

$form-group-color: #71acd6;
$form-group-label: grey;
$form-group-transition: all 0.5s;
$box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
$newsletter-color: #2c3539;
$card-box-shadow: 0 8px 6px 0 rgba(0, 0, 0, 0.1);
$border-light-color: $form-group-label;
$border-bottom: 1px solid black;
$ol-background-color: #dbf0fa;
$breadcrumb-li--item-color: #f2be00;

$carousel-control-color: $body-text-color;
$carousel-control-prev-icon-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$body-text-color}'><path d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/></svg>");
$carousel-control-next-icon-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$body-text-color}'><path d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/></svg>");

$basic-color1: yellow;
$basic-color2: blue;
$basic-color3: white;
$basic-color4: red;

.font-style {
    font-family: $body-font-family;
}