footer.footer_area
    .container
        .row.justify-content-between
            .col-3.col-xl-2.col-lg-3.col-md-3.col-sm-3
                .footer-widget
                    .footer-title Navigate
                    ul.list-unstyled
                        router-link(to='/')
                            li About Us
                        router-link(to='/')
                            li Blog
                        router-link(to='/')
                            li Contact Us
                        router-link(to='/')
                            li Sitemap
            .col-3.col-xl-2.col-lg-3.col-md-3.col-sm-3
                .footer-widget
                    .footer-title Collection
                    ul.list-unstyled
                        router-link(to='/products')
                            li New arrivals
                        router-link(to='/products')
                            li Featured
                        router-link(to='/products')
                            li Catalog
                        router-link(to='/products')
                            li Brands
            .col-3.col-xl-2.col-lg-3.col-md-3.col-sm-3
                .footer-widget
                    .footer-title Catagories
                    ul.list-unstyled
                        router-link(to='/products')
                            li Tables
                        router-link(to='/products')
                            li Lamps
                        router-link(to='/products')
                            li Chairs
                        router-link(to='/products')
                            li Sofas
            .col-12.col-xl-6.col-lg-3.col-md-3.col-sm-12.text-left.text-md-right.pb-5
                .footer-widget
                    h4 399 Crowfield Road,
                    h4 Phoenix, Arizona 85012
                    a(href='mailto:#') asff@fdsfsdc.com
                    h6 +602-926-5809
        .row.justify-content-between
            .col-xl-7.col-lg-6.col-md-6.col-sm-6.col-6
                .tiny-footer
                    p Copyright &copy; All Rights Reserved 2020 
            .col-4.col-xl-4.col-lg-4.col-md-4.col-sm-4.text-right
                .social-info
                    strong Get social
                    img.twitter(src='@/assets/twitter.png')
                    img.pinterest(src='@/assets/pinterest.png')
                    img.facebook(src='@/assets/facebook.png')
                    img.instagram(src='@/assets/insta.png')
