footer.footer_area
    .container
        .row.justify-content-between
            .col-3.col-xl-2.col-lg-3.col-md-3.col-sm-3
                .footer-widget
                    dynamic-component(
                        v-for='thingSection in cartContent' v-bind:key='thingSection.id'
                        v-bind:component_infos='thingSection'
                    )
                    // column1_sections 
                    .footer-title {{ column1_sections.title}}
                    ul.list-unstyled
                        li(v-for='column1_section in column1_sections.content') 
                            a(:href='column1_section.url') {{ column1_section.title }}
                    // column1_sections
            .col-3.col-xl-2.col-lg-3.col-md-3.col-sm-3
                .footer-widget
                    // column2_sections
                    .footer-title {{ column2_sections.title}}
                    ul.list-unstyled
                        li(v-for='column2_section in column2_sections.content') 
                            a(:href='column2_section.url') {{ column2_section.title }}
                    // column2_sections
            .col-3.col-xl-2.col-lg-3.col-md-3.col-sm-3
                .footer-widget
                    // column3_sections
                    .footer-title {{ column3_sections.title}}
                    ul.list-unstyled
                        li(v-for='column3_section in column3_sections.content') 
                            a(:href='column3_section.url') {{ column3_section.title }}
                    // column3_sections
            .col-12.col-xl-6.col-lg-3.col-md-3.col-sm-12.text-left.text-md-right.pb-5
                .footer-widget
                    // right_sections
                    h4 {{ right_sections.street }},
                    h4 {{ right_sections.city }}
                    a(:href="'mailto:' + right_sections.email") {{ right_sections.email }}
                    h6 {{ right_sections.phone_number }}
                    // right_sections
        .row.justify-content-between
            .col-xl-7.col-lg-6.col-md-6.col-sm-6.col-6
                // bottom_left_section
                .tiny-footer
                    p {{ bottom_left_section.copy }} 
                // bottom_left_section
            .col-4.col-xl-4.col-lg-4.col-md-4.col-sm-4.text-right
                // bottom_right_section
                .social-info
                    strong {{ bottom_right_section.title }}
                    img(v-for="image in bottom_right_section.images" :class='image.class' :src='image.src' :alt='image.alt')
                // bottom_right_section
