@import "../globals.scss";

.wrapper {
    background-color: $body-bg-color !important;
    font-family: $body-font-family !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $body-text-color;
}
